@import url('https://fonts.googleapis.com/css2?family=Rubik');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono');

:root {
    /* theme colours */
    --primary: #d9a35d;
    --secondary: #4862a6;
    --tertiary: #b75034;
    /* background colours */
    --shadow: #00000022;
    --crust: #d2d2d2;
    --mantle: #f2f2f2;
    --base: #ffffff;
    /* text colour */
    --text: #161616;
    color: var(--text);
    /* fonts */
    --body: Rubik;
    --heading: Josefin Sans;
    --mono: JetBrains Mono;
    font-family: var(--body);
    
}

@media (prefers-color-scheme: dark) {
    :root {
        /* override theme colours */
        --secondary: #46B1C9;
        --tertiary: #D4ADCF;
        /* override background colours */
        --shadow: #FFFFFF11;
        --crust: #000000;
        --mantle: #111318;
        --base: #212530;
        /* override text colour */
        --text: #f2f2f2;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    margin: 0;
    background-color: var(--base);
}


/** Layout **/

#header, #page {
    margin: 4rem 0;
    position: relative;
}

#content {
    display: block;
    position: relative;
    padding: 3rem;
    max-width: 48rem;
    margin: 0 auto 0 auto;
    border-left: 2px solid var(--primary);
}

#footer {
    position: relative;
    text-align: right;
    padding: 2rem calc(50% - 24rem);
    background-color: var(--mantle);
}

#page-source {
    display: block;
    margin: 1em 0;
}

article {
    border-left: 2px solid var(--crust);
    padding: 0 1rem;
    margin: 2rem 0;
}

#page-controls {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    margin-top: 4rem;
}

#return-home {
    grid-column-start: 1;
    justify-self: left;
}

#return-top {
    grid-column-start: 2;
    justify-self: right;
}


/** Header **/

#header {
    display: grid;
    grid-template-columns: auto 16rem;
}

#title {
    font-size: 6rem;
    margin: 1rem 0;
    color: var(--text);
}
#tagline, #tagline a {
    font-family: var(--heading);
    font-size: 1.5rem;
    color: var(--primary);
}
#socials {
    display: grid;
    grid-template-columns: repeat(auto-fill, 1em);
    justify-content: left;
    grid-gap: .5em;
    font-size: 2rem;
}
#avatar {
    object-fit: cover;
    margin: auto 1rem;
    border-radius: 50%;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: span 3;
    box-shadow: 0 0 2rem var(--shadow);
}


/** Table of contents **/

#toc {
    position: absolute;
    right: calc(100% + 5rem);
    text-align: right;
}
#toc a {
    display: block;
    white-space: nowrap;
    margin: 0.5rem 0;
}


/** Headings **/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading);
    margin-bottom: 0.2rem;
    margin-top: 1em;
}
h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.3rem;
}
h5 {
    font-size: 1.1rem;
}
h6 {
    font-size: 1rem;
}


/** Typography **/

a {
    color: var(--secondary);
    text-decoration: none;
}
a:hover {
    color: var(--tertiary);
}

pre, code, blockquote {
    font-family: var(--mono);
    background-color: var(--mantle);
}

p {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

/** Block elements **/

img {
    max-width: calc(100% - 2rem);
    box-shadow: 0 0 1rem var(--shadow);
    border-radius: 1rem;
    margin: 1rem;
}

blockquote {
    margin: 0;
    padding: 1rem;
}
blockquote + ul {
    margin-top: 0.5rem;
    text-align: right;
    list-style-type: none;
}

pre {
    padding: 1rem;
}

.altmetric-citation {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-gap: 1rem;
    margin: 1rem 0;
}
.altmetric-embed img {
    margin: 1rem;
    box-shadow: none;
}





